html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

body {
    margin-bottom: 60px;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.table {
    background-color: #fff;
    margin-bottom: 1rem;
}

textarea.form-control {
    resize: vertical;
}