<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - GuestBook</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-light bg-light border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" href="javascript:void(0)" id="nav-home">Гостевая книга</a>
                <a class="navbar-brand" href="javascript:void(0)" id="nav-register">Регистрация</a>
                <a class="navbar-brand" href="javascript:void(0)" id="nav-login">Вход в систему</a>
                <a class="navbar-brand" href="javascript:void(0)" id="nav-logout" style="display:none;">Выход</a>
            </div>
        </nav>
    </header>

    <div class="container">
        @RenderBody()
    </div>

    <footer class="border-top footer text-muted mt-4">
        <div class="container">
            &copy; @DateTime.Now.Year - GuestBook
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>